<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../css/artschool.css" rel="stylesheet" />
	</head>
	<body>
		<div id="app" v-cloak>
			<header class="mui-bar mui-bar-nav common-header">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<div class="mui-input-row common-input" id="inputc">
					<input type="text" class="mui-input-clear" placeholder="请输入关键字搜索">
					<span class="mui-icon mui-icon-search common-search-icon"></span>
				</div>
				<span class="address-wrap" @click="selcity">湖北省<span class="mui-icon" :class="{'mui-icon-arrowup':iscity,'mui-icon-arrowdown':!iscity}"></span></span>
				<div id="alladdress" v-show="iscity">
					<div class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul id="citydata1">
								<li v-for="(item,index) in cityone" :key="index" :class="{selone:curone==item.name}" @click="selstepone(item.name,index)">{{item.name}}</li>
							</ul>
						</div>
					</div>
					<div class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul id="citydata2">
								<li v-for="(item,index) in citytwo" :key="index" :class="{selone:curone==item.name}" @click="selstepone(item.name)">{{item.name}}</li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			<div class="shade-bg" v-if="iscity" @click="iscity=false;"></div>
			<div class="scroll-parent">
				<div id="commonListWrap" :class="{'school-list':iscard,'school-list-line':!iscard}">
					<ul v-if="iscard">
						<li id="toartdetail" v-for="(item,index) in datalist" :key="index">
							<img :src="item.img"/>
							<h4><img :src="item.head"/><div class="mui-ellipsis">{{item.name}}啊啊啊啊啊啊</div></h4>
							<p>{{item.address}}</p>
						</li>
					</ul>
					<ul v-if="!iscard">
						<li id="toartdetail" v-for="(item,index) in datalist" :key="index">
							<img :src="item.img"/>
							<div class="line-right">
								<h4><img :src="item.head"/></h4>
								<div><div class="mui-ellipsis">{{item.name}}</div><div>{{item.address}}</div></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="toggle-list"><span class="iconfont" :class="{'icon-card':!iscard,'icon-list':iscard}" @click="iscard=!iscard"></span></div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/city.js"></script>
		<script src="../js/vue.js"></script>
		<script>
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});
			var artschooldetail = null;
			mui.ready(function() {
            //初始化区域滚动
				var scroll = mui(".mui-scroll-wrapper").scroll();
			});
			mui.plusReady(function(){
				mui.preload({
						id: 'artschooldetail',
						url: 'artschooldetail.html'
				});
				mui("#commonListWrap").pullRefresh({
					down : {
						height:50,// 可选.默认50.触发上拉加载拖动距离
						auto:false,// 可选,默认false.自动上拉加载一次
						contentrefresh : "",// 可选，正在加载状态时，上拉加载控件上显示的标题内容
						contentnomore:'没有更多数据了',// 可选，请求完毕若没有更多数据时显示的提醒内容；
						callback : function() {
							var self = this; // 这里的this == mui('#refreshContainer').pullRefresh()
							// 加载更多的内容
							setTimeout(function () {
								mui('#commonListWrap').pullRefresh().endPulldownToRefresh(); //refresh completed
							}, 1500);
						} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					},
					up : {
						height:50,// 可选.默认50.触发上拉加载拖动距离
						auto:false,// 可选,默认false.自动上拉加载一次
						contentrefresh : "",// 可选，正在加载状态时，上拉加载控件上显示的标题内容
						contentnomore:'没有更多数据了',// 可选，请求完毕若没有更多数据时显示的提醒内容；
						callback : function() {
							var self = this; // 这里的this == mui('#refreshContainer').pullRefresh()
							// 加载更多的内容
							loadMore(this);
						} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					}
				})
				function loadMore(pullRefresh) {
					// 如果没有更多数据了，则关闭上拉加载
					//pullRefresh.endPullupToRefresh(true);
					// 如果有更多数据，则继续
					setTimeout(function () {
						mui('#commonListWrap').pullRefresh().endPullupToRefresh(); //refresh completed
					}, 1500);
					//pullRefresh.endPullupToRefresh(false);
				};
				/* 点击事件 */
				var toartDetail = document.getElementById('toartdetail');
				toartDetail.addEventListener('tap', function(event) {
					var id = this.getAttribute('id');
					if(!artschooldetail){
						artschooldetail = plus.webview.getWebviewById('artschooldetail');
					}
					mui.fire(artschooldetail,'clubId',{
						id:id
					});
					mui.openWindow({
						id:'artschooldetail'
					});
				}, false);
			});
			var app = new Vue({
				el: '#app',
				data(){
					return{
						cityone:city,
						citytwo:city[0]['sub'],
						curone:"北京",
						iscity:false,
						iscard:true,
						datalist:[
							{
								head:"../images/user-head.png",
								img:"../images/art-img.png",
								name:"小天鹅舞蹈学院",
								address:"武汉"
							},
							{
								head:"../images/user-head.png",
								img:"../images/art-img.png",
								name:"小天鹅舞蹈学院",
								address:"武汉"
							},
							{
								head:"../images/user-head.png",
								img:"../images/art-img.png",
								name:"小天鹅舞蹈学院",
								address:"武汉"
							},
							{
								head:"../images/user-head.png",
								img:"../images/art-img.png",
								name:"小天鹅舞蹈学院",
								address:"武汉"
							},
							{
								head:"../images/user-head.png",
								img:"../images/art-img.png",
								name:"小天鹅舞蹈学院",
								address:"武汉"
							},
							{
								head:"../images/user-head.png",
								img:"../images/art-img.png",
								name:"小天鹅舞蹈学院",
								address:"武汉"
							},
							{
								head:"../images/user-head.png",
								img:"../images/art-img.png",
								name:"小天鹅舞蹈学院",
								address:"武汉"
							},
							{
								head:"../images/user-head.png",
								img:"../images/art-img.png",
								name:"小天鹅舞蹈学院",
								address:"武汉"
							},
							{
								head:"../images/user-head.png",
								img:"../images/art-img.png",
								name:"小天鹅舞蹈学院",
								address:"武汉"
							},
							{
								head:"../images/user-head.png",
								img:"../images/art-img.png",
								name:"小天鹅舞蹈学院",
								address:"武汉"
							}
						]
					}
				},
				methods:{
					selcity:function(){
						this.iscity=!this.iscity;
					},
					selstepone:function(val,index){
						this.curone=val;
						this.citytwo=city[index]['sub'];
					},
					toartdetail:function(){
						console.log("aaa");
						var id="aaa";
						//var id = this.getAttribute('id');
						if(!artschooldetail){
							artschooldetail = plus.webview.getWebviewById('artschooldetail');
						}
						mui.fire(artschooldetail,'clubId',{
							id:id
						});
						mui.openWindow({
							id:'artschooldetail'
						});
					}
				}
			});
		</script>
	</body>
</html>