<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../css/clubdetail.css" rel="stylesheet" />
	</head>
	<body>
		<div id="detail">
			<header class="mui-bar mui-bar-nav common-header">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">俱乐部详情</h1>
			</header>
			<div class="clubdetail-main-wrap">
				<div class="clubdetail-main-top">
					<img :src="url+clubinfo.avatarimage"/>
					<div>
						<h4>{{clubinfo.name}}</h4>
						<p><span class="mui-badge mui-badge-purple" v-for="value in clubinfo.setup">{{value}}</span></p>
					</div>
				</div>
				<p class="club-desc">{{clubinfo.abstract}}</p>
				<div class="clubdetail-introd">
					{{clubinfo.content}}
				</div>
				<div class="person-prod-tab">
					<div v-bind:class="{curactiveTab:curtab=='1'}" @click="video">
							视频
					</div>
					<div v-bind:class="{curactiveTab:curtab=='2'}" @click="state">
							动态
					</div>
				</div>
			</div>
			<div class="video-wrap" v-if="curtab=='1'">
				<div class="teacher-video-left">
					<div class="teacher-video-list" v-for="(item,index) in leftvideo" :key="index">
						<div class="img-wrap">
							<img :src="url+item.image" />
							<span class="play-icon"></span>
						</div>
						<div class="auth-wrap">
							<h4 class="mui-ellipsis">{{item.name}}</h4>
							<p>
								<img :src="item.avatarimage"/>
								<span class="mui-ellipsis">{{item.clubname}}</span>
							</p>
						</div>
					</div>
				</div>
				<div class="teacher-video-right">
					<div class="teacher-video-list" v-for="(item,index) in rightvideo" :key="index">
						<div class="img-wrap">
							<img :src="url+item.image" />
							<span class="play-icon"></span>
						</div>
						<div class="auth-wrap">
							<h4 class="mui-ellipsis">{{item.name}}</h4>
							<p>
								<img :src="item.avatarimage"/>
								<span class="mui-ellipsis">{{item.clubname}}</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="state-wrap" v-if="curtab=='2'">
				<div id="club-state-list">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media"  v-for="(item,index) in statelist" :key="index">
							<a href="javascript:;">
								<div class="state-top">
									<img :src="url+item.avatarimage" >
									<div class="state-auth-info">
										<p>{{item.clubname}}</p>
										<div style="display: flex;">
											<span class="mui-badge mui-badge-success" style="display: inline-block;margin-right: 5px;" v-for="val in item.setup">
												{{val}}
											</span>
										</div>
									</div>
								</div>
								<p class="mui-ellipsis-2 state-con-info">
									{{item.content}}
								</p>
								<div class="state-img-wrap" >
									<img v-for="value in item.images.split(',')" :src="url+value" />
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="../js/jquery-1.8.3.min.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/vue.js"></script>
		<script>
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});
			$(window).scroll(function(){
				var scrollTop = $(this).scrollTop();    //滚动条距离顶部的高度
				var scrollHeight = $(document).height();   //当前页面的总高度
				var clientHeight = $(this).height();    //当前可视的页面高度
				// console.log("top:"+scrollTop+",doc:"+scrollHeight+",client:"+clientHeight);
				if(scrollTop + clientHeight >= scrollHeight){   //距离顶部+当前高度 >=文档总高度 即代表滑动到底部 
					//滚动条到达底部
					//alert(3)
				}else if(scrollTop<=0){
					//滚动条到达顶部
					//alert(4)
				//滚动条距离顶部的高度小于等于0 TODO
				
				}
			});
			//添加newId自定义事件监听
			window.addEventListener('clubId',function(event){
				//获得事件参数
				mui.showLoading();
				VmClub.getclubdetai();
				VmClub.club_id = event.detail.id;
				VmClub.otherinfo=app.getInfo();
			});
			var videoplay = null;
			mui.plusReady(function() {
				mui.preload({
						id: 'videoplay',
						url: 'videoplay.html'
				});
				mui("#detail").on("tap",".teacher-video-list",function(){
					var id = this.getAttribute('class');
					if(!videoplay){
						videoplay = plus.webview.getWebviewById('videoplay');
					}
					mui.fire(videoplay,'userId',{
						id:id
					});
					mui.openWindow({
						id:'videoplay',
						show:{
							duration:250
						}
					});
				})
			})
			var VmClub = new Vue({
				el: '#detail',
				data(){
					return{
						url:imgurl,
						otherinfo:app.getInfo(),
						userinfo: app.getSettings(),
						curtab: '1',
						club_id:5,
						clubinfo:null,
						videolist:[],
						statelist:[],
					}
				},
				computed:{
					leftvideo(){
						return this.videolist.filter(function(item,index){
							return index%2==0;
						});
					},
					rightvideo(){
						return this.videolist.filter(function(item,index){
							return index%2!=0;
						});
					}
				},
				mounted(){
					this.getclubdetai();
				},
				methods:{
					getclubdetai(){
						var self=this;
						yyajax('index/index/clubdetails',{id:this.userinfo.id,role:this.userinfo.role,token:this.userinfo.token,club_id:this.club_id},function(res){
							mui.hideLoading();
							if(res.code==200){
								self.clubinfo=res.msg.club;
								self.videolist=res.msg.clubvideo;
								self.statelist=res.msg.clubdynamic;
							}
						})
					},
					video:function(){
						this.curtab=1;
					},
					state:function(){
						this.curtab=2;
					}
				}
			});
		</script>
	</body>

</html>