<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../css/clubdetail.css" rel="stylesheet" />
		<style>
			#club-state-list .mui-active{
				background: #fff !important;
			}
			#club-state-list li:after{
				display: none;
			}
		</style>
	</head>
	<body>
		<div id="detail" v-cloak>
			<header class="mui-bar mui-bar-nav common-header">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">俱乐部详情</h1>
			</header>
			<div class="clubdetail-main-wrap">
				<div class="clubdetail-main-top">
					<img :src="url+clubinfo.avatarimage"/>
					<div>
						<h4>{{clubinfo.name}}</h4>
						<p><span class="mui-badge mui-badge-purple" v-for="value in clubinfo.setup">{{value}}</span></p>
					</div>
				</div>
				<div class="club-desc" v-html="clubinfo.abstract"></div>
				<div class="clubdetail-introd" v-html="clubinfo.content"></div>
				<div class="person-prod-tab">
					<div v-bind:class="{curactiveTab:curtab=='1'}" @click="video">
							视频
					</div>
					<div v-bind:class="{curactiveTab:curtab=='2'}" @click="state">
							动态
					</div>
				</div>
			</div>
			<div class="video-wrap" v-if="curtab=='1'">
				<div class="teacher-video-left">
					<div class="teacher-video-list" v-for="(item,index) in leftvideo" :key="index" :data-id="item.id" v-if="leftvideo.length!=0">
						<div class="img-wrap">
							<img :src="url+item.image" />
							<span class="play-icon"></span>
						</div>
						<div class="auth-wrap">
							<h4 class="mui-ellipsis">{{item.name}}</h4>
							<p>
								<img :src="url+item.avatarimage"/>
								<span class="mui-ellipsis">{{item.username}}</span>
							</p>
						</div>
					</div>
					<div class="bshadow" v-if="leftvideo.length==0">
						<div class="video-nodata"></div>
						<p class="video-nodata-p">暂无数据</p>
					</div>
				</div>
				<div class="teacher-video-right">
					<div class="teacher-video-list" v-for="(item,index) in rightvideo" :key="index" :data-id="item.id">
						<div class="img-wrap">
							<img :src="url+item.image" />
							<span class="play-icon"></span>
						</div>
						<div class="auth-wrap">
							<h4 class="mui-ellipsis">{{item.name}}</h4>
							<p>
								<img :src="url+item.avatarimage"/>
								<span class="mui-ellipsis">{{item.username}}</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="state-wrap" v-if="curtab=='2'">
				<div id="club-state-list">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media" v-for="(item,index) in statelist" :key="index" v-if="statelist.length!=0">
							<a href="javascript:;">
								<div class="state-top">
									<img :src="url+item.avatarimage">
									<div class="state-auth-info">
										<p>{{item.username}}</p>
										<div style="display: flex;">
											<span class="mui-badge mui-badge-success" style="display: inline-block;margin-right: 5px;" v-for="val in item.setup">
												{{val}}
											</span>
										</div>
									</div>
								</div>
								<p class="mui-ellipsis-2 state-con-info">
									{{item.content}}
								</p>
								<div class="state-con-info sother-info">
									<div style="width: 100%;" v-if="!!item.location_id">所在地：{{item.location_id | parseaddress}}</div>
									<div style="width: 50%;" v-if="!!item.setup">开设专业：{{item.setup | parsesetup}}</div>
									<div style="width: 50%;" v-if="!!item.position">职位类别：{{item.position | parseposition}}</div>
									<div style="width: 50%;" v-if="!!item.welfare">福利：{{item.welfare | parsewelfare}}</div>
									<div style="width: 50%;" v-if="!!item.subsidy">课时费(元)：{{item.subsidy | parsesubsidy}}</div>
									<div style="width: 50%;" v-if="!!item.salary">月薪待遇(元)：{{item.salary | parsesalary}}</div>
									<div style="width: 50%;" v-if="!!item.scale">机构规模(m2)：{{item.scale | parsescale}}</div>
								</div>
								<div class="state-img-wrap" >
									<img v-for="value in item.images.split(',')" :src="url+value" />
								</div>
								<div class="action-wrap">
									<div>
										<div class="addinvite" :data-id="item.club_id">
											<div class="noinvite"></div>
											<div>邀请</div>
										</div>
									</div>
									<div>
										<div class="addcol" :data-id="item.club_id">
											<div class="nocol"></div>
											<div>收藏</div>
										</div>
									</div>
								</div>
								<div class="cross-line" style=""></div>
							</a>
						</li>
						<li v-if="statelist.length==0">
							<div class="state-nodata"></div>
							<p class="state-nodata-p">暂无数据</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="../js/jquery-1.8.3.min.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/vue.js"></script>
		<script>
			var getalladdress=app.getalladdress();
			var siteinfo=app.getInfo();
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});
			$(window).scroll(function(){
				var scrollTop = $(this).scrollTop();    //滚动条距离顶部的高度
				var scrollHeight = $(document).height();   //当前页面的总高度
				var clientHeight = $(this).height();    //当前可视的页面高度
				// console.log("top:"+scrollTop+",doc:"+scrollHeight+",client:"+clientHeight);
				if(scrollTop + clientHeight >= scrollHeight){   //距离顶部+当前高度 >=文档总高度 即代表滑动到底部 
					//滚动条到达底部
					//alert(3)
				}else if(scrollTop<=0){
					//滚动条到达顶部
					//alert(4)
				//滚动条距离顶部的高度小于等于0 TODO
				
				}
			});
			var detailvideoplay = null;
			function events(){
				mui.plusReady(function() {
					var self = plus.webview.currentWebview();
					self.addEventListener("hide",function (e) {
						window.scrollTo(0, 0);
						location.reload();
						//VmClub.resetdata();
					},false);
					mui.preload({
							id: 'detailvideoplay',
							url: 'clubvideoplay.html'
					});
					mui("#detail").on("tap",".teacher-video-list",function(){
						var id = this.dataset.id;
						if(!detailvideoplay){
							detailvideoplay = plus.webview.getWebviewById('detailvideoplay');
						}
						mui.fire(detailvideoplay,'userId',{
							id:id,
							isperson:1,
						});
						mui.openWindow({
							id:'detailvideoplay',
							show:{
								duration:250
							}
						});
					});
					mui("#detail").on("tap",".addinvite",function(){//邀请
						mui.showLoading();
						var id = this.dataset.id;
						var formdata={
							id:VmClub.userinfo.id,
							role:VmClub.userinfo.role,
							token:VmClub.userinfo.token,
							beinvite_id:id,
						};
						var self=this;
						pubinvite(formdata,function(msg){
							//邀请成功
							$(self).children(".noinvite").addClass("invited").removeClass("noinvite");
							mui.hideLoading();
						});
					});
					mui("#detail").on("tap",".addcol",function(){//收藏
						mui.showLoading();
						var id = this.dataset.id;
						var formdata={
							id:VmClub.userinfo.id,
							role:VmClub.userinfo.role,
							token:VmClub.userinfo.token,
							type:4,
							pid:id,
						};
						var self=this;
						pubcol(formdata,function(msg){
							//收藏成功
							mui.hideLoading();
							$(self).children(".nocol").addClass("coled").removeClass("nocol");
						});
					});
				});
			}
			var VmClub;
			//添加newId自定义事件监听
			window.addEventListener('clubId',function(event){
				//获得事件参数
				mui.showLoading();
				getalladdress=app.getalladdress();
				siteinfo=app.getInfo();
				//VmClub.club_id = event.detail.id;
				/* VmClub.getclubdetail();
				VmClub.otherinfo=app.getInfo();
				VmClub.userinfo=app.getSettings(); */
				VmClub = new Vue({
					el: '#detail',
					data(){
						return{
							url:imgurl,
							otherinfo:app.getInfo(),
							userinfo: app.getSettings(),
							curtab: '1',
							club_id:event.detail.id,
							clubinfo:{
								avatarimage:"",
								name:"",
								setup:"",
								abstract:"",
								content:"",
							},
							videolist:[],
							statelist:[],
						}
					},
					filters:{
						parseaddress(val){
							if(val!=""){
								var address=getalladdress.filter(function (x) {
									return x['id']==val;
								});
								return address[0].name;
							}else{
								return "";
							}
						},
						parsesetup(val){
							if(val!=''){
								return siteinfo.setup[val];
							}else{
								return "";
							}
						},
						parseposition(val){
							if(val!==''){
								return siteinfo.position[val];
							}else{
								return "";
							}
						},
						parsewelfare(val){
							if(val!==''){
								return siteinfo.welfare[val];
							}else{
								return "";
							}
						},
						parsesubsidy(val){
							if(val!==''){
								return siteinfo.subsidy[val];
							}else{
								return "";
							}
						},
						parsesalary(val){
							if(val!==''){
								return siteinfo.salary[val];
							}else{
								return "";
							}
						},
						parsescale(val){
							if(val!==''){
								return siteinfo.scale[val];
							}else{
								return "";
							}
						},
					},
					computed:{
						leftvideo(){
							return this.videolist.filter(function(item,index){
								return index%2==0;
							});
						},
						rightvideo(){
							return this.videolist.filter(function(item,index){
								return index%2!=0;
							});
						}
					},
					mounted(){
						this.getclubdetail();
						events();
					},
					methods:{
						getclubdetail(){
							var self=this;
							var postdata={
								id:this.userinfo.id,
								role:this.userinfo.role,
								token:this.userinfo.token,
								club_id:this.club_id
							}
							yyajax('index/index/clubdetails',postdata,function(res){
								mui.hideLoading();
								if(res.code==200){
									self.clubinfo=res.msg.club;
									self.videolist=res.msg.clubvideo;
									self.statelist=res.msg.clubdynamic;
								}
							})
						},
						video:function(){
							this.curtab=1;
						},
						state:function(){
							this.curtab=2;
						},
						resetdata(){
							for(var i in this.clubinfo){
								this.clubinfo[i]="";
							}
						}
					}
				});
			});
		</script>
	</body>

</html>