<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width user-scalable='no'"> 
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../css/teacher.css" rel="stylesheet" />
		<style>
			.col-tab{
				width: 95%;
				height: 34px;
				margin: 0 auto;
				margin-top: 55px;
				border: 1px solid #6E4FC4;
				display: flex;
				align-items: center;
				color: #6E4FC4;
				border-radius: 5px;
				font-size: 0.28rem;
				background: transparent;
			}
			.col-tab>div{
				flex: 0 0 50%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: space-around;
			}
			.tab-active{
				background: #6E4FC4;
				color: #fff;
			}
			.scroll-parent{
				top: 90px;
			}
			#state-col{
				padding-bottom: 50px;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav common-header">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">收藏</h1>
			</header>
			<div class="col-tab">
				<div :class="{'tab-active':isvideo}" @tap="isvideo=true">视频收藏</div>
				<div :class="{'tab-active':!isvideo}" @tap="isvideo=false">动态收藏</div>
			</div>
			<div class="scroll-parent" v-show="isvideo">
				<div id="commonListWrap">
					<div class="teacher-video-wrap">
						<div>
							<div class="teacher-video-left">
								<div class="teacher-video-list" v-for="(item,index) in leftvideo" :key="index" v-if="leftvideo.length!=0">
									<div class="img-wrap">
										<img :src="url+item.image" />
										<span class="play-icon"></span>
									</div>
									<div class="auth-wrap">
										<h4 class="mui-ellipsis">{{item.name}}</h4>
										<p>
											<img :src="url+item.avatarimage"/>
											<span class="mui-ellipsis">{{item.clubname}}</span>
										</p>
									</div>
								</div>
								<div class="bshadow" v-if="leftvideo.length==0">
									<div class="video-nodata"></div>
									<p class="video-nodata-p">暂无数据</p>
								</div>
							</div>
							<div class="teacher-video-right">
								<div class="teacher-video-list" v-for="(item,index) in rightvideo" :key="index">
									<div class="img-wrap">
										<img :src="url+item.image" />
										<span class="play-icon"></span>
									</div>
									<div class="auth-wrap">
										<h4 class="mui-ellipsis">{{item.name}}</h4>
										<p>
											<img :src="url+item.avatarimage"/>
											<span class="mui-ellipsis">{{item.clubname}}</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div v-show="!isvideo">
				<div class="scroll-parent">
					<div id="commonListWrap" class="state-col">
						<div id="state-col">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell mui-media teacherdetail" v-for="(item,index) in dynamic" :key="index">
									<a href="javascript:;">
										<div class="state-top">
											<img :src="url+item.avatarimage" id="club-index">
											<div class="state-auth-info">
												<p>{{item.name}}</p>
												<div style="display: flex;" v-if="query.user_role==1">
													<span class="mui-badge mui-badge-success" style="display: inline-block;margin-right: 5px;" v-for="val in item.major.split(',')">
														{{siteinfo.major[val]}}
													</span>
												</div>
												<div style="display: flex;" v-if="query.user_role==2">
													<span class="mui-badge mui-badge-success" style="display: inline-block;margin-right: 5px;" v-for="val in item.setup.split(',')">
														{{siteinfo.setup[val]}}
													</span>
												</div>
											</div>
										</div>
										<p class="mui-ellipsis-2 state-con-info">
											{{item.content}}
										</p>
										<div class="state-img-wrap" v-if="!!item.images">
											<img v-for="value in item.images.split(',').slice(0,3)" :src="url+value" />
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/vue.js"></script>
		<script src="../js/mui.js"></script>
		<script src="../js/app.js"></script>
		<script>
			var userinfo=app.getSettings();
			var siteinfo=app.getInfo();
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});
			mui.back = function() {
				plus.webview.currentWebview().hide("auto", 300);
			};
			var videoplay = null;
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				self.addEventListener("hide",function (e) {
					window.scrollTo(0, 0);//重置滚动条位置
					location.reload();
				},false);
				mui.preload({
						id: 'videoplay',
						url: 'videoplay.html'
				});
				mui(".state-col").pullRefresh({
					up : {
						height:50,// 可选.默认50.触发上拉加载拖动距离
						auto:false,// 可选,默认false.自动上拉加载一次
						contentrefresh : "",// 可选，正在加载状态时，上拉加载控件上显示的标题内容
						contentnomore:'没有更多数据了',// 可选，请求完毕若没有更多数据时显示的提醒内容；
						callback : function() {
							var self = this; // 这里的this == mui('#refreshContainer').pullRefresh()
							// 加载更多的内容
							loadMorestate(this);
						} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					}
				})
				function loadMorestate(pullRefresh) {
					// 如果没有更多数据了，则关闭上拉加载
					//pullRefresh.endPullupToRefresh(true);
					setTimeout(function () {
						mui('.state-col').pullRefresh().endPullupToRefresh(); //refresh completed
					}, 1500);
					// 如果有更多数据，则继续
					//pullRefresh.endPullupToRefresh(false);
				};
				/* mui("#commonListWrap").pullRefresh({
					up : {
						height:50,// 可选.默认50.触发上拉加载拖动距离
						auto:false,// 可选,默认false.自动上拉加载一次
						contentrefresh : "",// 可选，正在加载状态时，上拉加载控件上显示的标题内容
						contentnomore:'没有更多数据了',// 可选，请求完毕若没有更多数据时显示的提醒内容；
						callback : function() {
							var self = this; // 这里的this == mui('#refreshContainer').pullRefresh()
							// 加载更多的内容
							loadMore(this);
						} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					}
				}) */
				function loadMore(pullRefresh) {
					// 如果没有更多数据了，则关闭上拉加载
					//pullRefresh.endPullupToRefresh(true);
					setTimeout(function () {
						mui('#commonListWrap').pullRefresh().endPullupToRefresh(); //refresh completed
					}, 1500);
					// 如果有更多数据，则继续
					//pullRefresh.endPullupToRefresh(false);
				};
				mui(".teacher-video-wrap").on("tap",".teacher-video-list",function(){
					var id = this.getAttribute('class');
					if(!videoplay){
						videoplay = plus.webview.getWebviewById('videoplay');
					}
					mui.fire(videoplay,'userId',{
						id:id
					});       
					mui.openWindow({
						id:'videoplay',
						show:{
							duration:250
						}
					});
				})
			});
			window.addEventListener('userId',function(event){
				//获得事件参数
				//Vm.getclubdata(0);
				userinfo=app.getSettings();
				siteinfo=app.getInfo();
				mui.showLoading();
				Vm.query.id=userinfo.id;
				Vm.query.role=userinfo.role;
				Vm.query.token=userinfo.token;
				Vm.query.user_id=event.detail.user_id;
				Vm.query.user_role=event.detail.user_role;
				Vm.getdata();
			});
			var player = null;
			var Vm = new Vue({
				el: '#app',
				data(){
					return{
						url:imgurl,
						siteinfo:siteinfo,
						isvideo:true,
						query:{
							id:userinfo.id,
							role:userinfo.role,
							token:userinfo.token,
							user_id:"",
							user_role:"",
						},
						videolist:[],
						dynamic:[],
						datalist:[]
					}
				},
				computed:{
					leftvideo(){
						if(this.videolist.length!=0){
							return this.videolist.filter(function(item,index){
								return index%2==0;
							});
						}else{
							return [];
						}
					},
					rightvideo(){
						if(this.videolist.length!=0){
							return this.videolist.filter(function(item,index){
								return index%2!=0;
							});
						}else{
							return [];
						}
					}
				},
				methods:{
					getdata(){
						var self=this;
						console.log(JSON.stringify(this.query));
						yyajax('index/user/collection',this.query,function(res){
						console.log(JSON.stringify(res));
							mui.hideLoading();
							if(res.code==200){
								self.videolist=res.msg.video;
								self.dynamic=res.msg.dynamic;
							}else{
								mui.toast(res.msg);
							}
						})
					}
				}
			});
		</script>
	</body>

</html>