<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../css/index.css" rel="stylesheet" />
		<link href="../css/previewimage.css" rel="stylesheet" />
		<style>
			#club-state-list .mui-active{
				background: #fff !important;
			}
			#club-state-list li:after{
				display: none;
			}
		</style>
	</head>
	<body>
	<div id="app-index" v-cloak>
			<div class="mui-slider" id="banner">
			  <div class="mui-slider-group mui-slider-loop">
				<!--支持循环，需要重复图片节点-->
				<div class="mui-slider-item" v-for="(item,index) in bannerlist" :key="index"><a href="#"><div class="baner-item"><img :src="url+item.bannerimage" /></div></a></div>
			  </div>
			</div>
			<div class="main-wrap">
				<div class="list-title">
					<h4>精选俱乐部</h4>
					<span id="club-more">更多<span class="mui-icon mui-icon-arrowright"></span></span>
				</div>
				<ul class="mui-table-view" id="clublist">
					<li class="mui-table-view-cell mui-media club-detail" v-for="(item,index) in datalist" :key="index" :data-id="item.id">
						<a href="javascript:;">
							<img class="mui-media-object mui-pull-left" :src="url+item.image">
							<div class="mui-media-body">
								<span>{{item.name}}</span>
								<p class='mui-ellipsis-2'>{{item.abstract}}</p>
								<p class="zpinfo">{{item.setup.toString()}}</p>
							</div>
						</a>
					</li>
				</ul>
			 </div>
				<div class="list-title" style="width:calc(100% - 20px);margin:0 auto;margin-top:10px;">
					<h4>俱乐部动态</h4>
					<span id="clubdetail-more">更多<span class="mui-icon mui-icon-arrowright"></span></span>
				</div>
			<div id="club-state-list">
				<div class="scroll-parent">
					<div id="commonListWrap">
						<ul class="mui-table-view" id="statelist">
							<li class="mui-table-view-cell mui-media statedetail" v-for="(item,index) in statelist" :key="index" :data-id="item.id">
								<a href="javascript:;">
									<div class="state-top">
										<img :src="url+item.avatarimage" class="club-index" :data-id="item.club_id" :data-role="2">
										<div class="state-auth-info">
											<p>{{item.clubname}}</p>
											<div style="display: flex;" v-if="!!item.setup">
												<span class="mui-badge mui-badge-success" style="display: inline-block;margin-right: 5px;" v-for="val in item.setup.split(',')">
													{{otherinfo.setup[val]}}
												</span>
											</div>
										</div>
									</div>
									<p class="state-con-info" style="word-wrap:break-word;white-space:normal;" v-if="!!item.content">
										{{item.content}}
									</p>
									<div class="state-img-wrap" v-if="!!item.images">
										<img v-for="value in item.images.split(',').slice(0,3)" :src="url+value" data-preview-src="" data-preview-group="1"/>
									</div>
									<div class="action-wrap">
										<div>
											<div class="addinvite" :data-id="item.club_id">
												<div class="noinvite"></div>
												<div>邀请</div>
											</div>
										</div>
										<div>
											<div class="addcol" :data-id="item.id">
												<div class="nocol"></div>
												<div>收藏</div>
											</div>
										</div>
									</div>
									<div class="cross-line" style=""></div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
	</div>
		<script src="../js/jquery-1.8.3.min.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/mui.zoom.js"></script>
		<script src="../js/mui.previewimage.js"></script>
		<script src="../js/vue.js"></script>
		<script>
				var clubdetail = null;
				var clubmore = null;
				var clubstatedetail = null;
				var clubstatemore = null;
				var personinfo=null;
				var ws=null;
				var list=null;
				var userinfo=app.getSettings();
				// 处理沉浸式状态栏
				var topoffset=0;
				var ms=(/Html5Plus\/.+\s\(.*(Immersed\/(\d+\.?\d*).*)\)/gi).exec(navigator.userAgent);
				if(ms&&ms.length>=3){
					topoffset=parseFloat(ms[2]);
				}
				mui.previewImage({issave:true});
				mui.plusReady(function() {
					ws=plus.webview.currentWebview();
					if(plus.navigator.isImmersedStatusbar()){// 兼容沉浸式状态栏模式
						topoffset=Math.round(plus.navigator.getStatusbarHeight());
					}
					ws.setPullToRefresh({support:true,style:'circle',offset:topoffset+45+'px'},onRefresh);
					// 第一次打开页面即开始刷新列表
				/* 	setTimeout(function(){
						console.log('Initializ refresh');
						ws.beginPullToRefresh();
					},200); */
					function onRefresh(){
						Vm.page.offset=1;
						Vm.statelist=[];
						Vm.getclub();
						Vm.getclubstate();
						setTimeout(function(){
							ws.endPullToRefresh();
						},1000);
					}
					mui("#commonListWrap").pullRefresh({
						up : {
							height:50,// 可选.默认50.触发上拉加载拖动距离
							auto:false,// 可选,默认false.自动上拉加载一次
							contentrefresh : "",// 可选，正在加载状态时，上拉加载控件上显示的标题内容
							contentnomore:'没有更多数据了',// 可选，请求完毕若没有更多数据时显示的提醒内容；
							callback : function() {
								var self = this; // 这里的this == mui('#refreshContainer').pullRefresh()
								// 加载更多的内容
								loadMore(this);
							} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
						}
					})
					function loadMore(pullRefresh) {
						// 如果没有更多数据了，则关闭上拉加载
						//pullRefresh.endPullupToRefresh(true);
						// 如果有更多数据，则继续
						Vm.page.offset+=1;
						Vm.getclubstate(function(){
							mui('#commonListWrap').pullRefresh().endPullupToRefresh();
						},function(){
							mui('#commonListWrap').pullRefresh().endPullupToRefresh(true);
							Vm.page.offset-=1;
						});
						/* setTimeout(function () {
							mui('#commonListWrap').pullRefresh().endPullupToRefresh(); //refresh completed
						}, 1500); */
						//pullRefresh.endPullupToRefresh(false);
					};
					mui.preload({
							id: 'clubdetail',
							url: 'clubdetail.html'
					});
					mui.preload({
							id: 'clubmore',
							url: 'clubmore.html'
					});
					mui.preload({
							id: 'clubstatedetail',
							url: 'clubstatedetail.html'
					});
					mui.preload({
							id: 'clubstatemore',
							url: 'clubstatemore.html'
					});
					mui.preload({
						id: 'personinfo',
						url: 'personinfo.html'
				  });
					var clubMore = document.getElementById('club-more');
					var clubdetailMore = document.getElementById('clubdetail-more');
					mui("#clublist").on("tap",".club-detail",function(){//精选俱乐部详情
						var id = this.dataset.id;
						if(!clubdetail){
							clubdetail = plus.webview.getWebviewById('clubdetail');
						}
						mui.fire(clubdetail,'clubId',{
							id:id
						});
						mui.openWindow({
							id:'clubdetail',
							show:{
								duration:250
							}
						});
					});
					clubMore.addEventListener('tap', function(event) {
						var id = this.getAttribute('id');
						if(!clubmore){
							clubmore = plus.webview.getWebviewById('clubmore');
						}
						mui.fire(clubmore,'clubmore',{
							id:id
						});
						mui.openWindow({
							id:'clubmore',
							show:{
								duration:250
							}
						});
					}, false);
					/* mui("#statelist").on("tap",".statedetail",function(){//俱乐部动态详情
						var id = this.dataset.id;
						if(!clubstatedetail){
							clubstatedetail = plus.webview.getWebviewById('clubstatedetail');
						}
						mui.fire(clubstatedetail,'clubId',{
							id:id
						});       
						mui.openWindow({
							id:'clubstatedetail',
							show:{
								duration:250
							}
						});
					}); */
					mui("#statelist").on("tap",".club-index",function(){//个人主页
						var id = this.dataset.id;
						var role= this.dataset.role;
						if(!personinfo){
							personinfo = plus.webview.getWebviewById('personinfo');
						}
						mui.fire(personinfo,'scroll2top',{
							user_id:id,
							user_role:role,
						});
						mui.openWindow({
							id:'personinfo',
							show:{
								duration:250
							}
						});
					});
					clubdetailMore.addEventListener('tap', function(event) {//俱乐部动态更多
						var id = this.getAttribute('id');
						if(!clubstatemore){
							clubstatemore = plus.webview.getWebviewById('clubstatemore');
						}
						mui.fire(clubstatemore,'clubId',{
							id:id
						});
						mui.openWindow({
							id:'clubstatemore',
							show:{
								duration:250
							}
						});
					}, false);
					mui("#statelist").on("tap",".addinvite",function(){//邀请
						var id = this.dataset.id;
						var formdata={
							id:userinfo.id,
							role:userinfo.role,
							token:userinfo.token,
							beinvite_id:id,
						};
						yyajax('index/index/invite',formdata,function(res){
							if(res.code==200){
								mui.toast(res.msg);
								//$(".addinvite").addClass("");
							}else{
								mui.toast(res.msg);
							}
						})
					});
					mui("#statelist").on("tap",".addcol",function(){//收藏
						var id = this.dataset.id;
						var formdata={
							id:userinfo.id,
							role:userinfo.role,
							token:userinfo.token,
							type:4,
							pid:id,
						};
						yyajax('index/index/collection',formdata,function(res){
							if(res.code==200){
								mui.toast(res.msg);
								
							}else{
								mui.toast(res.msg);
							}
						});
					});
				});
				function getbannercache(){
					var stateText = localStorage.getItem('$banner') || "[]";
					return JSON.parse(stateText);
				}
				function getclubcache(){
					var stateText = localStorage.getItem('$getclub') || "[]";
					return JSON.parse(stateText);
				}
				function getclubstatecache(){
					var stateText = localStorage.getItem('$getclubstate') || "[]";
					return JSON.parse(stateText);
				}
				window.addEventListener('scroll2top',function(event){
					//获得事件参数
					//location.reload();
					Vm.otherinfo=app.getInfo();
					var userinfo=app.getSettings();
					Vm.getbanner();
					if(getclubstatecache().length==0){
						if(JSON.stringify(userinfo)!='{}'){
							Vm.getalldata();
						}
					}
				});
				var Vm = new Vue({
					el: '#app-index',
					data(){
						return{
							url:imgurl,
							otherinfo:app.getInfo(),
							bannerlist:getbannercache(),
							datalist:getclubcache(),
							statelist:getclubstatecache(),
							page:{
								offset:1,
							}
						}
					},
					mounted(){
							//var self=this;
						  //this.getalldata();
					},
					methods:{
							getalldata(){
								this.getbanner();
								this.getclub();
								this.getclubstate();
							},
							getbanner(){
								var self=this;
								yyajax('index/index/banner',{type:1},function(res){
									if(res.code==200){
									localStorage.setItem('$banner', JSON.stringify(res.msg));
										self.bannerlist=res.msg;
										setTimeout(function(){
											var gallery = mui('.mui-slider');
											gallery.slider({
												interval:5000//自动轮播周期，若为0则不自动播放，默认为0；
											});
										},100)
									}else{
										mui.toast('网络错误');
									}
								})
							},
							getclub(){
								var self=this;
								var userinfo=app.getSettings();
								yyajax('index/index/homeclub',{id:userinfo.id,role:userinfo.role,token:userinfo.token},function(res){
									if(res.code==200){
										localStorage.setItem('$getclub', JSON.stringify(res.msg));
										self.datalist=res.msg;
									}else{
										mui.toast(res.msg);
									}
								})
							},
							getclubstate(cb,err){
								var self=this;
								var userinfo=app.getSettings();
								yyajax('index/index/clubdynamic',{id:userinfo.id,role:userinfo.role,token:userinfo.token,offset:this.page.offset},function(res){
									if(res.code==200){
										if(res.msg.length!=0){
											localStorage.setItem('$getclubstate', JSON.stringify(res.msg));
											var alldata=self.statelist.concat(res.msg);
											self.statelist=alldata;
											if(cb){cb();}
										}else{
											if(err){err();}
										}
									}else{
										if(err){err();}
										mui.toast(res.msg);
									}
								})
							}
					}
				});
		</script>
	</body>

</html>