<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../css/person.css" rel="stylesheet" />
		<style>
			#club-state-list .mui-active{
				background: #fff !important;
			}
			#club-state-list li:after{
				display: none;
			}
		</style>
	</head>
	<body>
		<div id="video">
			<div class="person-header-bg"></div>
			<div class="person-info-card">
				<div class="person-info-top">
					<img :src="url+user.avatarimage" >
					<div>
						<p><span class="person-name">{{user.username}}</span></p>
						<p id="personphone"><span class="person-id">艺舞ID：{{user.id}}</span><span class="person-contact">联系方式</span></p>
					</div>
				</div>
				<div class="person-prod-count">
					<div>
						<p>{{numinfo.works}}</p>
						<p>作品</p>
					</div>
					<div id="invite">
						<p>{{numinfo.invite}}</p>
						<p>邀请</p>
					</div>
					<div id="collection">
						<p>{{numinfo.collection}}</p>
						<p>收藏</p>
					</div>
				</div>
				<div class="person-prod-tab">
					<div v-bind:class="{curactiveTab:curtab=='1'}" @click="video">
							视频
					</div>
					<div v-bind:class="{curactiveTab:curtab=='2'}" @click="state">
							动态
					</div>
				</div>
			</div>
			<div class="video-wrap" v-show="curtab=='1'">
				<div class="teacher-video-left">
					<div class="teacher-video-list" v-for="(item,index) in leftvideo" :key="index" v-if="leftvideo.length!=0" :data-id="item.id">
						<div class="img-wrap">
							<img :src="url+item.image" />
							<span class="play-icon"></span>
						</div>
						<div class="auth-wrap">
							<h4 class="mui-ellipsis">{{item.name}}</h4>
							<p>
								<img :src="url+item.avatarimage"/>
								<span class="mui-ellipsis">{{item.clubname}}</span>
							</p>
						</div>
					</div>
					<div class="bshadow" v-if="leftvideo.length==0">
						<div class="video-nodata"></div>
						<p class="video-nodata-p">暂无数据</p>
					</div>
				</div>
				<div class="teacher-video-right">
					<div class="teacher-video-list" v-for="(item,index) in rightvideo" :key="index" :data-id="item.id">
						<div class="img-wrap">
							<img :src="url+item.image" />
							<span class="play-icon"></span>
						</div>
						<div class="auth-wrap">
							<h4 class="mui-ellipsis">{{item.name}}</h4>
							<p>
								<img :src="url+item.avatarimage"/>
								<span class="mui-ellipsis">{{item.clubname}}</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="state-wrap" v-if="curtab=='2'">
				<div id="club-state-list">
					<ul class="mui-table-view" id="person-state-list">
						<li class="mui-table-view-cell mui-media" v-for="(item,index) in dynamiclist" :key="index" v-if="dynamiclist.length!=0">
							<a href="javascript:;">
								<div class="state-top">
									<img :src="url+item.avatarimage" class="club-index">
									<div class="state-auth-info">
										<p>{{item.username}}</p>
										<div style="display: flex;" v-if="query.user_role==1&&!!item.major">
											<span class="mui-badge mui-badge-success" style="display: inline-block;margin-right: 5px;" v-for="val in item.major.split(',')">
												{{siteinfo.major[val]}}
											</span>
										</div>
										<div style="display: flex;" v-if="query.user_role==2&&!!item.setup">
											<span class="mui-badge mui-badge-success" style="display: inline-block;margin-right: 5px;" v-for="val in item.setup.split(',')">
												{{siteinfo.setup[val]}}
											</span>
										</div>
									</div>
								</div>
								<p class="state-con-info" v-if="!!item.content">
									{{item.content}}
								</p>
								<div class="state-con-info sother-info" v-if="query.user_role==1">
									<div style="width: 100%;" v-if="!!item.teacheracademy_id">毕业院校：{{item.teacheracademy_id | parseschool}}</div>
									<div style="width: 50%;" v-if="!!item.location_id">所在地：{{item.location_id | parseaddress}}</div>
									<div style="width: 50%;" v-if="!!item.home_id">家乡地：{{item.home_id | parsehome}}</div>
									<div style="width: 50%;" v-if="!!item.jobcategory">职位类别：{{item.jobcategory | parsejob}}</div>
									<div style="width: 50%;" v-if="!!item.expectant_id">期望工作地：{{item.expectant_id | parsework}}</div>
									<div style="width: 50%;" v-if="!!item.parsemajor">专业：{{item.major | parsemajor}}</div>
									<div style="width: 50%;" v-if="!!item.experience">教学经验：{{item.experience | parseexp}}</div>
								</div>
								<div class="state-con-info sother-info" v-if="query.user_role==2">
									<div style="width: 100%;" v-if="!!item.location_id">所在地：{{item.location_id | parseaddress}}</div>
									<div style="width: 50%;" v-if="!!item.setup">开设专业：{{item.setup | parsesetup}}</div>
									<div style="width: 50%;" v-if="!!item.position">职位类别：{{item.position | parseposition}}</div>
									<div style="width: 50%;" v-if="!!item.welfare">福利：{{item.welfare | parsewelfare}}</div>
									<div style="width: 50%;" v-if="!!item.subsidy">课时费(元)：{{item.subsidy | parsesubsidy}}</div>
									<div style="width: 50%;" v-if="!!item.salary">月薪待遇(元)：{{item.salary | parsesalary}}</div>
									<div style="width: 50%;" v-if="!!item.scale">机构规模(m2)：{{item.scale | parsescale}}</div>
								</div>
								<div class="state-img-wrap" v-if="!!item.images">
									<img v-for="value in item.images.split(',').slice(0,3)" :src="url+value" />
								</div>
								<div class="action-wrap">
									<div>
										<div class="addinvite" :data-id="item.club_id">
											<div class="noinvite"></div>
											<div>邀请</div>
										</div>
									</div>
									<div>
										<div class="addcol" :data-id="item.club_id">
											<div class="nocol"></div>
											<div>收藏</div>
										</div>
									</div>
								</div>
								<div class="cross-line" style=""></div>
							</a>
						</li>
						<li v-if="dynamiclist.length==0">
							<div class="state-nodata"></div>
							<p class="state-nodata-p">暂无数据</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="../js/jquery-1.8.3.min.js"></script>
		<script src="../js/mui.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/vue.js"></script>
		<script>
			var userinfo=app.getSettings();
			var siteinfo=app.getInfo();
			var getschool=app.getSchool();
			var getplace=app.getPlace();
			var getalladdress=app.getalladdress();
			var getorschool=app.getorschool();
			var backButtonPress = 0;
			$(function(){
				$(window).scroll(function(){
					 var scrollTop = $(this).scrollTop();    //滚动条距离顶部的高度
					 var scrollHeight = $(document).height();   //当前页面的总高度
					 var clientHeight = $(this).height();    //当前可视的页面高度
					 // console.log("top:"+scrollTop+",doc:"+scrollHeight+",client:"+clientHeight);
					 if(scrollTop + clientHeight >= scrollHeight){   //距离顶部+当前高度 >=文档总高度 即代表滑动到底部 
						 //滚动条到达底部
						 //alert(3)
					 }else if(scrollTop<=0){
						//滚动条到达顶部
						 //alert(4)
						//滚动条距离顶部的高度小于等于0 TODO
					 }
				 });
			});
			mui.back = function() {
				plus.webview.currentWebview().hide("auto", 300);
			}
			function todetail(){
				mui("#person-state-list").on("tap","li",function(){
					
				})
			};
			var invite = null;
			var collection = null;
			var personsetting = null;
			var tvideoplay = null;
			var cvideoplay=null;
			var personcontact = null;//联系方式
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				self.addEventListener("hide",function (e) {
					window.scrollTo(0, 0);//重置滚动条位置
					location.reload();
				},false);
				mui.preload({
						id: 'invite',
						url: 'invite.html'
				});
				mui.preload({
						id: 'collection',
						url: 'collection.html'
				});
				mui.preload({
						id: 'personsetting',
						url: 'personsetting.html'
				});
				mui.preload({
						id: 'tvideoplay',
						url: 'videoplay.html'
				});
				mui.preload({
						id: 'personcontact',
						url: 'personcontact.html'
				});
				mui.preload({
						id: 'cvideoplay',
						url: 'clubvideoplay.html'
				});
				mui(".person-prod-count").on("tap","#invite",function(){
					var id = this.getAttribute('class');
					if(!invite){
						invite = plus.webview.getWebviewById('invite');
					}
					mui.fire(invite,'userId',{
						user_id:Vm.query.user_id,
						user_role:Vm.query.user_role,
					});
					mui.openWindow({
						id:'invite',
						createNew: true,
						show:{
							duration:250
						},
						styles:{
							cachemode:"noCache",
						}
					});
				});
				mui(".person-prod-count").on("tap","#collection",function(){
					var id = this.getAttribute('class');
					if(!collection){
						collection = plus.webview.getWebviewById('collection');
					}
					mui.fire(collection,'userId',{
						user_id:Vm.query.user_id,
						user_role:Vm.query.user_role,
					});
					mui.openWindow({
						id:'collection',
						createNew: true,
						show:{
							duration:250
						},
						styles:{
							cachemode:"noCache",
						}
					});
				});
				mui("#video").on("tap","#personsetting",function(){
					var id = this.getAttribute('class');
					if(!personsetting){
						personsetting = plus.webview.getWebviewById('personsetting');
					}
					mui.fire(personsetting,'userId',{
						id:id
					});
					mui.openWindow({
						id:'personsetting',
						show:{
							duration:250
						}
					});
				});
				mui("#video").on("tap",".teacher-video-list",function(){
					var id = this.dataset.id;
					if(Vm.query.user_role==1){
						if(!tvideoplay){
							tvideoplay = plus.webview.getWebviewById('tvideoplay');
						}
						mui.fire(tvideoplay,'userId',{
							id:id,
							isperson:1,
						});
						mui.openWindow({
							id:'tvideoplay',
							show:{
								duration:250
							}
						});
					}else{
						if(!cvideoplay){
							cvideoplay = plus.webview.getWebviewById('cvideoplay');
						}
						mui.fire(cvideoplay,'userId',{
							id:id,
							isperson:1,
						});
						mui.openWindow({
							id:'cvideoplay',
							show:{
								duration:250
							}
						});
					}
				});
				mui("#video").on("tap","#personphone",function(){
					var id = this.getAttribute('class');
					if(!personcontact){
						personcontact = plus.webview.getWebviewById('personcontact');
					}
					mui.fire(personcontact,'userId',{
						user_id:Vm.query.user_id,
						user_role:Vm.query.user_role,
					});
					mui.openWindow({
						id:'personcontact',
						show:{
							duration:250
						}
					});
				});
				mui("#video").on("tap",".addinvite",function(){//邀请
				mui.showLoading();
					var id = this.dataset.id;
					var formdata={
						id:userinfo.id,
						role:userinfo.role,
						token:userinfo.token,
						beinvite_id:id,
					};
						var self=this;
					pubinvite(formdata,function(msg){
						//邀请成功
						mui.hideLoading();
						$(self).children(".noinvite").addClass("invited").removeClass("noinvite");
					});
				});
				mui("#video").on("tap",".addcol",function(){//收藏
				mui.showLoading();
					var id = this.dataset.id;
					var formdata={
						id:userinfo.id,
						role:userinfo.role,
						token:userinfo.token,
						type:4,
						pid:id,
					};
						var self=this;
					pubcol(formdata,function(msg){
						//收藏成功
						mui.hideLoading();
						$(self).children(".nocol").addClass("coled").removeClass("nocol");
					});
				});
			});
			window.addEventListener('scroll2top',function(event){
				//获得事件参数
				//Vm.getclubdata(0);
				userinfo=app.getSettings();
				siteinfo=app.getInfo();
				getschool=app.getSchool();
				getplace=app.getPlace();
				getalladdress=app.getalladdress();
				getorschool=app.getorschool();
				mui.showLoading();
				Vm.uinfo=userinfo;
				Vm.query.id=userinfo.id;
				Vm.query.role=userinfo.role;
				Vm.query.token=userinfo.token;
				Vm.siteinfo=siteinfo;
				console.log(JSON.stringify(event.detail));
				if(event.detail.user_id){
					Vm.query.user_id=event.detail.user_id;
					Vm.query.user_role=event.detail.user_role;
				}else{
					Vm.query.user_id=userinfo.id;
					Vm.query.user_role=userinfo.role;
				}
				Vm.getalldata();
			});
			var Vm = new Vue({
				el: '#video',
				data(){
					return{
						url:imgurl,
						siteinfo:siteinfo,
						uinfo:userinfo,
						curtab: '1',
						user:{
							username:"",
							id:"",
							avatarimage:"",
						},
						query:{
							id:userinfo.id,
							role:userinfo.role,
							token:userinfo.token,
							user_id:"",
							user_role:""
						},
						numinfo:{
							works:0,
							invite:0,
							collection:0,
						},
						videolist:[],
						dynamiclist:[]
					}
				},
				filters:{
					parseaddress(val){
						if(val!=""){
							var address=getalladdress.filter(function (x) {
								return x['id']==val;
							});
							return address[0].name;
						}else{
							return "";
						}
					},
					parsesetup(val){
						if(val!=''){
							return siteinfo.setup[val];
						}else{
							return "";
						}
					},
					parseposition(val){
						if(val!==''){
							return siteinfo.position[val];
						}else{
							return "";
						}
					},
					parsewelfare(val){
						if(val!==''){
							return siteinfo.welfare[val];
						}else{
							return "";
						}
					},
					parsesubsidy(val){
						if(val!==''){
							return siteinfo.subsidy[val];
						}else{
							return "";
						}
					},
					parsesalary(val){
						if(val!==''){
							return siteinfo.salary[val];
						}else{
							return "";
						}
					},
					parsescale(val){
						if(val!==''){
							return siteinfo.scale[val];
						}else{
							return "";
						}
					},
					parsehome(val){
						if(val!=""){
							var address=getalladdress.filter(function (x) {
								return x['id']==val;
							});
							return address[0].name;
						}else{
							return "";
						}
					},
					parseschool(val){
						if(val!=""){
							var address=getorschool.filter(function (x) {
								return x['id']==val;
							});
							return address[0].name;
						}else{
							return "";
						}
					},
					parsejob(val){
						if(val!=""){
							return siteinfo.jobcategory[val];
						}else{
							return "";
						}
					},
					parsework(val){
						if(val!=""){
							var address=getalladdress.filter(function (x) {
								return x['id']==val;
							});
							return address[0].name;
						}else{
							return "";
						}
					},
					parsemajor(val){
						if(val!=""){
							return siteinfo.parsemajor[val];
						}else{
							return "";
						}
					},
					parseexp(val){
						if(val!=""){
							return siteinfo.experience[val];
						}else{
							return "";
						}
					},
				},
				computed:{
					leftvideo(){
						if(this.videolist.length!=0){
							return this.videolist.filter(function(item,index){
								return index%2==0;
							});
						}else{
							return [];
						}
					},
					rightvideo(){
						if(this.videolist.length!=0){
							return this.videolist.filter(function(item,index){
								return index%2!=0;
							});
						}else{
							return [];
						}
					}
				},
				mounted(){
					//this.getalldata();
				},
				methods:{
					getalldata:function(){
						var self=this;
						console.log(JSON.stringify(this.query));
						yyajax('index/user/index',this.query,function(res){
							mui.hideLoading();
								console.log(JSON.stringify(res));
							if(res.code==200){
								var result=res.msg;
								self.user.username=res.user.username;
								self.user.id=res.user.id;
								self.user.avatarimage=res.user.avatarimage;
								self.numinfo.works=result.works;
								self.numinfo.invite=result.invite;
								self.numinfo.collection=result.collection;
								self.videolist=result.videolist;
								self.dynamiclist=result.dynamiclist;
							}else{
								mui.toast(res.msg);
							}
						})
					},
					video:function(){
						this.curtab=1;
					},
					state:function(){
						this.curtab=2;
					}
				}
			});
		</script>
	</body>
</html>