<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../css/report.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
	</head>
	<style>
		.form-item{
			margin: 10px;
			background: #fff;
			border-radius: 5px;
			font-size: 0.3rem;
		}
		.form-item label{
			padding: 0;
			height: 40px;
			line-height: 40px;
			padding: 0 0 0 15px;
		}
		.form-item input{
			font-size: 0.3rem;
			padding: 0;
		}
		#imgfile{
			position: absolute;
			z-index: -10;
			width: 0;
		}
	</style>
	<body>
		<div class="report-page-header"><div class="page-cancel">取消</div><div class="page-fb">发表</div></div>
		<div class="report-page" id="teacherApp">
			<div class="form-item mui-input-row">
				<label>标题：</label>
				<input type="text" class="mui-input-clear" id="statetitle" placeholder="请输入标题" v-model="formdata.name"/>
			</div>
			<div class="form-item mui-input-row">
				<label>毕业院校：</label>
				<input type="text" class="mui-input-clear" id="school-picker" placeholder="请选择毕业院校" readonly="readonly"/>
				<label>专业：</label>
				<input type="text" class="mui-input-clear" id="major-picker" placeholder="请选择专业" readonly="readonly"/>
				<label>职位类别：</label>
				<input type="text" class="mui-input-clear" id="job-picker" placeholder="请选择职位类别" readonly="readonly"/>
				<label>教学经验：</label>
				<input type="text" class="mui-input-clear" id="exp-picker" placeholder="请选择教学经验" readonly="readonly"/>
			</div>
			<div class="form-item mui-input-row">
				<label>所在地：</label>
				<input type="text" class="mui-input-clear curplace" id="curplace-picker" placeholder="请选择所在地"/>
				<label>家乡地：</label>
				<input type="text" class="mui-input-clear homelace" id="homeplace-picker" placeholder="请选择家乡地"/>
				<label>期望工作地：</label>
				<input type="text" class="mui-input-clear likeplace" id="likeplace-picker" placeholder="请选择期望工作地"/>
			</div>
			<div class="report-content-wrap">
				<p>我的介绍</p>
				<textarea class="repot-content introduce" id="statecontent" autoHeight="true" placeholder="请输入我的介绍..." v-model="formdata.content"></textarea>
			</div>
			<div class="report-userinfo">
				<p>我的详情</p>
				<div class="report-state-wrap">
					<div class="state-img-main ripple img-sel">
						<span class="mui-icon mui-icon-plusempty"></span>
					</div>
				</div>
			</div>
			<input type="file" id="imgfile" accept="image/*" multiple=""/>
		</div>
		<script src="../js/jquery-1.8.3.min.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/mui.picker.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/vue.js"></script>
		<script>
			/* //监听右滑事件，若侧滑菜单未显示，右滑要显示菜单；
			window.addEventListener("swiperight", function(e) {
				console.log(e.detail.angle)
				//默认滑动角度在-45度到45度之间，都会触发右滑菜单，为避免误操作，可自定义限制滑动角度；
				if (Math.abs(e.detail.angle) < 4) {
					console.log(e.detail.angle)
				}
			}); */
			var userinfo=app.getSettings();
			var siteinfo=app.getInfo();
			var getschool=app.getSchool();
			var getplace=app.getPlace();
			function insertimg(url){
				var _html="<div class='state-img-main ripple img-common'>"
					_html+="<span class='mui-icon mui-icon-closeempty del-img' data-url='"+url+"'></span>"
					_html+="<img src='"+url+"'/></div>"
				$(".img-sel").before(_html);
			}
			function pubpicker(elem,type,data,callback){
				var cityPicker = new mui.PopPicker({
					layer: type
				});
				cityPicker.setData(data);
				var showCityPickerButton = document.getElementById(elem);
				var cityResult = document.getElementById(elem);
				showCityPickerButton.addEventListener('tap', function(event) {
					var self=this;
					cityPicker.show(function(items) {
						callback(self,items);
						//返回 false 可以阻止选择框的关闭
						//return false;
					});
				}, false);
			};
			/* window.addEventListener('url',function(event){
				//获得事件参数
				var url=event.detail.url;
				insertimg(url);
			}); */
			function parsedata(data){
				var curarr=[];
				for(var i in data){
					curarr.push({
						text:data[i],
						value:i
					})
				}
				return curarr;
			}
			$("#imgfile").live('change', function(){
				mui.showLoading();
				uploadhead("imgfile",function(res){
					$('#imgfile').replaceWith('<input type="file" id="imgfile" accept="image/*" multiple=""/>');
					insertimg(res);
					teacherApp.formdata.images.push(res);
					mui.hideLoading();
				},function(){})
			})
			mui.plusReady(function(){
				var dance=[{text:"瑜伽",value:"0"},{text:"拉丁",value:"1"},{text:"芭蕾",value:"2"}];
				pubpicker("school-picker",2,getschool,function(self,items){
					document.getElementById("school-picker").value=items[0].text + " - " + items[1].text;
					teacherApp.formdata.teacheracademy_id=items[1].value;
				});
				var majorarr=parsedata(siteinfo.major);
				pubpicker("major-picker",1,majorarr,function(self,items){
					document.getElementById("major-picker").value=items[0].text;
					teacherApp.formdata.major=items[0].value;
				});
				var jobarr=parsedata(siteinfo.jobcategory);
				pubpicker("job-picker",1,jobarr,function(self,items){
					document.getElementById("job-picker").value=items[0].text;
					teacherApp.formdata.jobcategory=items[0].value;
				});
				var experiencearr=parsedata(siteinfo.experience);
				pubpicker("exp-picker",1,experiencearr,function(self,items){
					document.getElementById("exp-picker").value=items[0].text;
					teacherApp.formdata.experience=items[0].value;
				});
				pubpicker("curplace-picker",2,getplace,function(self,items){
					document.getElementById("curplace-picker").value=items[0].text + " - " + items[1].text;
					teacherApp.formdata.location_id=items[1].value;
				});
				pubpicker("homeplace-picker",2,getplace,function(self,items){
					document.getElementById("homeplace-picker").value=items[0].text + " - " + items[1].text;
					teacherApp.formdata.home_id=items[1].value;
				});
				pubpicker("likeplace-picker",2,getplace,function(self,items){
					document.getElementById("likeplace-picker").value=items[0].text + " - " + items[1].text;
					teacherApp.formdata.expectant_id=items[1].value;
				});
				mui(".report-state-wrap").on("tap",".del-img",function(){
					var url=$(this).data("url");
					var index=teacherApp.formdata.images.indexOf(url);
					teacherApp.formdata.images.splice(index,1);
					$(this).parent().remove();
					console.log(JSON.stringify(teacherApp.formdata.images));
				});
				mui(".report-state-wrap").on("tap",".img-sel",function(){
					document.getElementById('imgfile').click();
				});
				mui(".report-page-header").on("tap",".page-cancel",function(){
					resetdata(["statetitle","school-picker","major-picker","job-picker","exp-picker","curplace-picker","homeplace-picker","likeplace-picker","statecontent"]);
					mui.back();
				});
				mui(".report-page-header").on("tap",".page-fb",function(){
					mui.showLoading();
					if( teacherApp.formdata.name==""||
						teacherApp.formdata.images.length==0||
						teacherApp.formdata.content==""||
						teacherApp.formdata.location_id==""||
						teacherApp.formdata.home_id==""||
						teacherApp.formdata.teacheracademy_id==""||
						teacherApp.formdata.jobcategory==""||
						teacherApp.formdata.expectant_id==""||
						teacherApp.formdata.major==""||
						teacherApp.formdata.experience==""
						){
						mui.toast("不能为空哦！");
					}else{
						var formdata=teacherApp.formdata;
						formdata.id=userinfo.id;
						formdata.role=userinfo.role;
						formdata.token=userinfo.token;
						formdata.images=formdata.images.toString();
						yyajax("index/index/publishdynamic",formdata,function(res){
							mui.hideLoading();
							if(res.code==200){
								mui.toast("发布成功");
								resetdata(["statetitle","school-picker","major-picker","job-picker","exp-picker","curplace-picker","homeplace-picker","likeplace-picker","statecontent"]);
								setTimeout(function(){
									mui.back();
								},1000);
							}else{
								mui.toast(res.msg);
							}
						})
					}
				});
				function resetdata(data){
					for(var i=0;i<data.length;i++){
						$("#"+data[i]).val("");
					}
					$(".img-common").remove();
				}
				mui(".report-page").on("tap",".post-img",function(){
					plus.gallery.pick(function(p) {
						plus.io.resolveLocalFileSystemURL(p, function(entry) {
							console.log(entry.toLocalURL());
							$(".post-img-wrap img").attr("src",entry.toLocalURL());
							$(".post-img").attr("title","更换封面");
							$(".post-img-wrap").show();
						}, function(e) {
							
						});
					}, function(a) {}, {
						filter: "image",multiple:false,system:false
					})
				});
			});
			var teacherApp = new Vue({
				el: '#teacherApp',
				data(){
					return{
						formdata:{
							name:"",
							images:[],
							content:"",
							location_id:"",
							home_id:"",
							teacheracademy_id:"",
							jobcategory:"",
							expectant_id:"",
							major:"",
							experience:"",
						}
					}
				},
				methods:{
					
				}
			});
		</script>
	</body>

</html>