<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../css/teacher.css" rel="stylesheet" />
	</head>
	<body>
		<div id="teacher">
			<form action="">
				<header class="mui-bar mui-bar-nav common-header">
					<div class="mui-input-row common-input" id="inputc">
						<input type="search" class="mui-input-clear" placeholder="请输入关键字搜索" id="search">
						<span class="mui-icon mui-icon-search common-search-icon"></span>
					</div>
				</header>
			</form>
			<div class="scroll-parent">
				<div id="commonListWrap">
					<div class="teacher-video-wrap">
						<div>
							<div class="teacher-video-left">
								<div class="teacher-video-list" v-for="(item,index) in leftvideo" :key="index" v-if="leftvideo.length!=0">
									<div class="img-wrap">
										<img :src="url+item.image" />
										<span class="play-icon"></span>
									</div>
									<div class="auth-wrap">
										<h4 class="mui-ellipsis">{{item.name}}</h4>
										<p>
											<img :src="url+item.avatarimage"/>
											<span class="mui-ellipsis">{{item.clubname}}</span>
										</p>
									</div>
								</div>
								<div class="bshadow" v-if="leftvideo.length==0">
									<div class="video-nodata"></div>
									<p class="video-nodata-p">暂无数据</p>
								</div>
							</div>
							<div class="teacher-video-right">
								<div class="teacher-video-list" v-for="(item,index) in rightvideo" :key="index">
									<div class="img-wrap">
										<img :src="url+item.image" />
										<span class="play-icon"></span>
									</div>
									<div class="auth-wrap">
										<h4 class="mui-ellipsis">{{item.name}}</h4>
										<p>
											<img :src="url+item.avatarimage"/>
											<span class="mui-ellipsis">{{item.clubname}}</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/vue.js"></script>
		<script src="../js/mui.js"></script>
		<script src="../js/app.js"></script>
		<script>
			var userinfo=app.getSettings();
			var siteinfo=app.getInfo();
			var getschool=app.getSchool();
			var getplace=app.getPlace();
			var backButtonPress = 0;
			mui.back = function(event) {
				backButtonPress++;
				if (backButtonPress > 1) {
					plus.runtime.quit();
				} else {
					plus.nativeUI.toast('再按一次退出应用');
				}
				setTimeout(function() {
					backButtonPress = 0;
				}, 1000);
				return false;
			};
			var videoplay = null;
			mui.plusReady(function() {
				mui(".mui-input-clear")[0].addEventListener('focus', function(){
					mui(".mui-icon-clear")[0].addEventListener('tap',function(){
						Vm.query.keyword="";
						Vm.getdata(0);
					});
				});
				mui.preload({
						id: 'videoplay',
						url: 'videoplay.html'
				});
				mui("#commonListWrap").pullRefresh({
					down : {
						height:50,// 可选.默认50.触发上拉加载拖动距离
						auto:false,// 可选,默认false.自动上拉加载一次
						contentrefresh : "",// 可选，正在加载状态时，上拉加载控件上显示的标题内容
						contentnomore:'没有更多数据了',// 可选，请求完毕若没有更多数据时显示的提醒内容；
						callback : function() {
							var self = this; // 这里的this == mui('#refreshContainer').pullRefresh()
							// 加载更多的内容
							Vm.query.offset=1;
							Vm.getdata(1);
						} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					},
					up : {
						height:50,// 可选.默认50.触发上拉加载拖动距离
						auto:false,// 可选,默认false.自动上拉加载一次
						contentrefresh : "",// 可选，正在加载状态时，上拉加载控件上显示的标题内容
						contentnomore:'没有更多数据了',// 可选，请求完毕若没有更多数据时显示的提醒内容；
						callback : function() {
							var self = this; // 这里的this == mui('#refreshContainer').pullRefresh()
							// 加载更多的内容
							loadMore(this);
						} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					}
				})
				function loadMore(pullRefresh) {
					// 如果没有更多数据了，则关闭上拉加载
					//pullRefresh.endPullupToRefresh(true);
					Vm.query.offset+=1;
					Vm.getdata(2);
					// 如果有更多数据，则继续
					//pullRefresh.endPullupToRefresh(false);
				};
				searchinit("search",function(val){
					Vm.query.keyword=val;
					Vm.getdata(0);
				});
				mui(".teacher-video-wrap").on("tap",".teacher-video-list",function(){
					var id = this.getAttribute('class');
					if(!videoplay){
						videoplay = plus.webview.getWebviewById('videoplay');
					}
					mui.fire(videoplay,'userId',{
						id:id
					});       
					mui.openWindow({
						id:'videoplay',
						show:{
							duration:250
						}
					});
				})
			});
			window.addEventListener('scroll2top',function(event){
				//获得事件参数
				//location.reload();
				
			});
			var player = null;
			var Vm = new Vue({
				el: '#teacher',
				data(){
					return{
						url:imgurl,
						datalist:[],
						query:{
							id:userinfo.id,
							role:userinfo.role,
							token:userinfo.token,
							offset:1,
							keyword:""
						}
					}
				},
				computed:{
					leftvideo(){
						return this.datalist.filter(function(item,index){
							return index%2==0;
						});
					},
					rightvideo(){
						return this.datalist.filter(function(item,index){
							return index%2!=0;
						});
					}
				},
				mounted(){
					this.getdata(0);
				},
				methods:{
					getdata:function(type){
						var self=this;
						if(type==0){
							self.query.offset=1;
							mui.showLoading();
						}
						yyajax('index/index/teachervideo',this.query,function(res){
							if(res.code==200){
								if(type==1){
									self.datalist=res.msg;
									setTimeout(function () {
										mui('#commonListWrap').pullRefresh().endPulldownToRefresh();
									},1000);
								}else if(type==2){
									if(res.msg.length!=0){
										var newdata=res.msg;
										var curdata=self.datalist;
										self.datalist=curdata.concat(newdata);
										setTimeout(function () {
											mui('#commonListWrap').pullRefresh().endPullupToRefresh();
										},1000);
									}else{
										self.query.offset-=1;
										setTimeout(function () {
											mui('#commonListWrap').pullRefresh().endPullupToRefresh(true);
										},1000);
									}
								}else{
									self.datalist=res.msg;
									mui.hideLoading();
									if(res.msg.length==0){
										mui.toast("没有找到相关数据");
									}
								}
							}else{
								mui.toast(res.msg);
								if(type==1){
									setTimeout(function () {
										mui('#commonListWrap').pullRefresh().endPulldownToRefresh();
									},1000);
								}else if(type==2){
									self.query.offset-=1;
									setTimeout(function () {
										mui('#commonListWrap').pullRefresh().endPullupToRefresh();
									},1000);
								}else{
									mui.hideLoading();
								}
							}
						})
					},
					resetdata:function(){
						this.query.keyword="";
					}
				}
			});
		</script>
	</body>

</html>