<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../css/teacherclass.css" rel="stylesheet" />
		<style>
			#commonListWrap .mui-active{
				background: #fff !important;
			}
			#commonListWrap li:after{
				display: none;
			}
		</style>
	</head>
	<body>
	<div id="teacherapp" v-cloak>
		<form action="">
			<header class="mui-bar mui-bar-nav common-header">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<div class="mui-input-row common-input" id="inputc">
					<input type="search" class="mui-input-clear" placeholder="请输入关键字搜索" id="search">
					<span class="mui-icon mui-icon-search common-search-icon"></span>
				</div>
			</header>
		</form>
		<div class="common-condition-wrap">
			<div class="condition-wrap">
				<div class="selcity" @click="selcity">{{curtwo}}<span class="mui-icon" :class="{'mui-icon-arrowup':iscity,'mui-icon-arrowdown':!iscity}"></span></div>
				<div class="seldance" @click="seldance">{{hometwo}}<span class="mui-icon" :class="{'mui-icon-arrowup':isdance,'mui-icon-arrowdown':!isdance}"></span></div>
				<div class="morecond" @click="selmorecond">更多筛选<span class="mui-icon" :class="{'mui-icon-arrowup':morecond,'mui-icon-arrowdown':!morecond}"></span></div>
			</div>
			<div class="city-wrap" id="scroll-ul" v-show="iscity">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul id="citydata1">
							<li v-for="(item,index) in cityone" :key="index" :class="{selone:curone==item.text}" @click="selstepone(item.text,index)">{{item.text}}</li>
						</ul>
					</div>
				</div>
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul id="citydata2">
							<li :class="{selone:hometwo=='不限地区'}" @click="selcurcity('不限地区','')">不限地区</li>
							<li v-for="(item,index) in citytwo" :key="index" :class="{selone:curtwo==item.text}" @click="selcurcity(item.text,item.value)">{{item.text}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="city-wrap" id="scroll-ul" v-show="isdance">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul id="citydata1">
							<li v-for="(item,index) in homeplace" :key="index" :class="{selone:homeone==item.text}" @click="selhomeone(item.text,index)">{{item.text}}</li>
						</ul>
					</div>
				</div>
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul id="citydata2">
							<li :class="{selone:hometwo=='不限地区'}" @click="selhometwo('不限地区','')">不限地区</li>
							<li v-for="(item,index) in homeplacetwo" :key="index" :class="{selone:hometwo==item.text}" @click="selhometwo(item.text,item.value)">{{item.text}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="more-wrap" id="scroll-ul" v-show="morecond">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul id="citydata1">
							<li v-for="(item,index) in moreconds" :key="index" :class="{selone:conone==item.text}" @click="selcontype(item.text,item.value)">{{item.text}}</li>
						</ul>
					</div>
				</div>
				<div class="mui-scroll-wrapper" v-if="condition=='1'">
					<div class="mui-scroll">
						<ul id="citydata2">
							<li v-for="(item,index) in conschools" :key="index" :class="{selone:conscone==item.text}" @click="selconschool(item.text,index)">{{item.text}}</li>
						</ul>
					</div>
				</div>
				<div class="mui-scroll-wrapper" v-if="condition=='1'">
					<div class="mui-scroll">
						<ul id="citydata2">
							<li :class="{selone:consctwo=='不限地区'}" @click="selconschooltwo('不限地区','')">不限地区</li>
							<li v-for="(item,index) in conschoolstwo" :key="index" :class="{selone:consctwo==item.text}" @click="selconschooltwo(item.text,item.value)">{{item.text}}</li>
						</ul>
					</div>
				</div>
				<div class="mui-scroll-wrapper" style="width: 67%;" v-if="condition==2">
					<div class="mui-scroll">
						<ul id="citydata2">
							<li :class="{selone:conjob=='不限'}" @click="selconjob('不限','')">不限</li>
							<li v-for="(value, key) in jobs" :key="key" :class="{selone:conjob==value}" @click="selconjob(value,key)">{{value}}</li>
						</ul>
					</div>
				</div>
				<div class="mui-scroll-wrapper" v-if="condition=='3'">
					<div class="mui-scroll">
						<ul id="citydata2">
							<li v-for="(item,index) in conlikeplace" :key="index" :class="{selone:conlikeone==item.text}" @click="selconlplace(item.text,index)">{{item.text}}</li>
						</ul>
					</div>
				</div>
				<div class="mui-scroll-wrapper" v-if="condition=='3'">
					<div class="mui-scroll">
						<ul id="citydata2">
							<li :class="{selone:conliketwo=='不限地区'}" @click="selconlplacetwo('不限地区','')">不限地区</li>
							<li v-for="(item,index) in conlikeplacetwo" :key="index" :class="{selone:conliketwo==item.text}" @click="selconlplacetwo(item.text,item.value)">{{item.text}}</li>
						</ul>
					</div>
				</div>
				<div class="mui-scroll-wrapper" style="width: 67%;" v-if="condition==4">
					<div class="mui-scroll">
						<ul id="citydata2">
							<li :class="{selone:conmajor=='不限'}" @click="selconmajor('不限','')">不限</li>
							<li v-for="(value, key) in majors" :key="key" :class="{selone:conmajor==value}" @click="selconmajor(value,key)">{{value}}</li>
						</ul>
					</div>
				</div>
				<div class="mui-scroll-wrapper" style="width: 67%;" v-if="condition==5">
					<div class="mui-scroll">
						<ul id="citydata2">
							<li :class="{selone:conexp=='不限'}" @click="selconexp('不限','')">不限</li>
							<li v-for="(value, key) in exps" :key="key" :class="{selone:conexp==value}" @click="selconexp(value,key)">{{value}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="shade-bg" v-if="iscity||isdance||morecond" @click="closeall"></div>
		<div id="club-state-list">
			<div class="scroll-parent">
				<div id="commonListWrap">
					<div>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-media teacherdetail" v-for="(item,index) in datalist" :key="index" :data-id="item.id">
								<a href="javascript:;">
									<div class="state-top" style="width: calc(100% - 35px);">
										<img :src="url+item.avatarimage" class="club-index" :data-id="item.teacher_id" :data-role="1">
										<div class="state-auth-info">
											<p>{{item.teachername}}</p>
											<div style="display: flex;" v-if="!!item.major">
												<span class="mui-badge mui-badge-success" style="display: inline-block;margin-right: 5px;" v-for="val in item.major.split(',')">
													{{siteinfo.major[val]}}
												</span>
											</div>
										</div>
									</div>
									<div class="mui-ellipsis-2 state-con-info" style="width: calc(100% - 35px);" v-if="!!item.content">
										{{item.content}}
									</div>
									<div class="state-img-wrap" style="width: calc(100% - 35px);" v-if="!!item.images">
										<img v-for="value in item.images.split(',').slice(0,3)" :src="url+value" />
									</div>
									<div class="action-wrap" style="width: calc(100% - 35px);">
										<div>
											<div class="addinvite" :data-id="item.teacher_id">
												<div class="noinvite"></div>
												<div>邀请</div>
											</div>
										</div>
										<div>
											<div class="addcol" :data-id="item.id">
												<div class="nocol"></div>
												<div>收藏</div>
											</div>
										</div>
									</div>
									<div class="cross-line" style=""></div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
		<script src="../js/mui.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/vue.js"></script>
		<script>
			var userinfo=app.getSettings();
			var siteinfo=app.getInfo();
			var getschool=app.getSchool();
			var getplace=app.getPlace();
			var teacherstatedetail=null;
			var personinfo=null;
			function events(){
				mui.init({
					swipeBack:true //启用右滑关闭功能
				});
				mui.ready(function() {
				//初始化区域滚动
					var scroll = mui(".mui-scroll-wrapper").scroll();
				});
				mui.plusReady(function(){
					mui(".mui-input-clear")[0].addEventListener('focus', function(){
						mui(".mui-icon-clear")[0].addEventListener('tap',function(){
							teacherapp.query.keyword="";
							teacherapp.getteacherdata(0);
						});
					});
					var self = plus.webview.currentWebview();
					self.addEventListener("hide",function (e) {
						location.reload();
						mui('#commonListWrap').pullRefresh().scrollTo(0,0,100);//重置滚动条位置
						teacherapp.resetdata();
					},false);
					mui.preload({
							id: 'teacherstatedetail',
							url: 'teacherstatedetail.html'
					});
					mui.preload({
						id: 'personinfo',
						url: 'personinfo.html'
					});
					mui("#commonListWrap").pullRefresh({
						down : {
							height:50,// 可选.默认50.触发上拉加载拖动距离
							auto:false,// 可选,默认false.自动上拉加载一次
							contentrefresh : "",// 可选，正在加载状态时，上拉加载控件上显示的标题内容
							contentnomore:'没有更多数据了',// 可选，请求完毕若没有更多数据时显示的提醒内容；
							callback : function() {
								var self = this; // 这里的this == mui('#refreshContainer').pullRefresh()
								// 加载更多的内容
								teacherapp.query.offset=1;
								teacherapp.getteacherdata(1);
							} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
						},
						up : {
							height:50,// 可选.默认50.触发上拉加载拖动距离
							auto:false,// 可选,默认false.自动上拉加载一次
							contentrefresh : "",// 可选，正在加载状态时，上拉加载控件上显示的标题内容
							contentnomore:'没有更多数据了',// 可选，请求完毕若没有更多数据时显示的提醒内容；
							callback : function() {
								var self = this; // 这里的this == mui('#refreshContainer').pullRefresh()
								// 加载更多的内容
								loadMore(this);
							} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
						}
					});
					function loadMore(pullRefresh) {
						// 如果没有更多数据了，则关闭上拉加载
						//pullRefresh.endPullupToRefresh(true);
						teacherapp.query.offset+=1;
						teacherapp.getteacherdata(2);
						// 如果有更多数据，则继续
						//pullRefresh.endPullupToRefresh(false);
					};
					searchinit("search",function(val){
						teacherapp.query.keyword=val;
						teacherapp.getteacherdata(0);
					});
					/* mui("#teacherapp").on("tap",".teacherdetail",function(){
						var id = this.dataset.id;
						if(!teacherstatedetail){
							teacherstatedetail = plus.webview.getWebviewById('teacherstatedetail');
						}
						mui.fire(teacherstatedetail,'clubId',{
							id:id,
							isteacher:1,
						});
						mui.openWindow({
							id:'teacherstatedetail',
							show:{
								duration:250
							}
						});
					}); */
					mui("#teacherapp").on("tap",".club-index",function(){//个人主页
						var id = this.dataset.id;
						var role= this.dataset.role;
						if(!personinfo){
							personinfo = plus.webview.getWebviewById('personinfo');
						}
						mui.fire(personinfo,'scroll2top',{
							user_id:id,
							user_role:role,
						});
						mui.openWindow({
							id:'personinfo',
							show:{
								duration:250
							}
						});
					});
					mui("#teacherapp").on("tap",".addinvite",function(){//邀请
					mui.showLoading();
						var id = this.dataset.id;
						var formdata={
							id:userinfo.id,
							role:userinfo.role,
							token:userinfo.token,
							beinvite_id:id,
						};
						yyajax('index/index/invite',formdata,function(res){
							mui.hideLoading();
							if(res.code==200){
								mui.toast(res.msg);
								//$(".addinvite").addClass("");
							}else{
								mui.toast(res.msg);
							}
						})
					});
					mui("#teacherapp").on("tap",".addcol",function(){//收藏
						mui.showLoading();
						var id = this.dataset.id;
						var formdata={
							id:userinfo.id,
							role:userinfo.role,
							token:userinfo.token,
							type:2,
							pid:id,
						};
						yyajax('index/index/collection',formdata,function(res){
							mui.hideLoading();
							if(res.code==200){
								mui.toast(res.msg);
								
							}else{
								mui.toast(res.msg);
							}
						});
					});
				});
			}
			var teacherapp;
			window.addEventListener('clubId',function(event){
				//获得事件参数
				userinfo=app.getSettings();
				siteinfo=app.getInfo();
				getschool=app.getSchool();
				getplace=app.getPlace();
				//teacherapp.initdata();
				//teacherapp.getteacherdata(0);
				teacherapp = new Vue({
					el: '#teacherapp',
					data(){
						return{
							siteinfo:siteinfo,
							url:imgurl,
							cityone:getplace,
							citytwo:getplace[0]['children'],
							homeplace:getplace,
							homeplacetwo:getplace[0]['children'],
							iscity:false,
							isdance:false,
							morecond:false,
							conschools:getschool,
							conscone:getschool[0]['text'],
							conschoolstwo:getschool[0]['children'],
							consctwo:"不限地区",
							jobs:siteinfo.jobcategory,
							conjob:"不限",
							conlikeone:getplace[0]['text'],
							conlikeplace:getplace,
							conliketwo:"不限地区",
							conlikeplacetwo:getplace[0]['children'],
							conmajor:"不限",
							majors:siteinfo.major,
							exps:siteinfo.experience,
							conexp:"不限",
							moreconds:[
								{
									value:"1",
									text:"毕业院校",
								},{
									value:"2",
									text:"职位类别",
								},{
									value:"3",
									text:"期望工作地",
								},{
									value:"4",
									text:"专业",
								},{
									value:"5",
									text:"教学经验",
								}
							],
							conone:'毕业院校',
							condition:1,
							curone:getplace[0]['text'],
							curtwo:"所在城市",
							homeone:getplace[0]['text'],
							hometwo:"家乡城市",
							query:{
								id:userinfo.id,
								role:userinfo.role,
								token:userinfo.token,
								location_id:"",
								home_id:"",
								teacheracademy_id:"",//毕业院校
								jobcategory:"",//职位类别
								expectant_id:"",//期望工作地
								major:"",//专业
								experience:"",//教学经验
								offset:1,
								keyword:""
							},
							datalist:[]
						}
					},
					mounted(){
						
					},
					methods:{
						initdata:function(){
							this.cityone=getplace;
							this.citytwo=getplace[0]['children'];
							this.homeplace=getplace;
							this.homeplacetwo=getplace[0]['children'];
							this.conschools=getplace;
							this.conscone=getplace[0]['text'];
							this.conschoolstwo=getplace[0]['children'];
							this.jobs=siteinfo.jobcategory;
							this.conlikeone=getplace[0]['text'];
							this.conlikeplace=getplace;
							this.conlikeplacetwo=getplace[0]['children'];
							this.majors=siteinfo.major;
							this.exps=siteinfo.experience;
							this.curone=getplace[0]['text'];
							this.homeone=getplace[0]['text'];
							this.query={
								id:userinfo.id,
								role:userinfo.role,
								token:userinfo.token,
								location_id:"",
								home_id:"",
								teacheracademy_id:"",//毕业院校
								jobcategory:"",//职位类别
								expectant_id:"",//期望工作地
								major:"",//专业
								experience:"",//教学经验
								offset:1,
								keyword:""
							}
						},
						getteacherdata:function(type){
							var self=this;
							if(type==0){
								self.query.offset=1;
								mui.showLoading();
							}
							yyajax('index/index/teacherdynamic',this.query,function(res){
								console.log(JSON.stringify(res));
								if(res.code==200){
									if(type==1){
										self.datalist=res.msg;
										setTimeout(function () {
											mui('#commonListWrap').pullRefresh().endPulldownToRefresh();
										},1000);
									}else if(type==2){
										if(res.msg.length!=0){
											var newdata=res.msg;
											var curdata=self.datalist;
											self.datalist=curdata.concat(newdata);
											setTimeout(function () {
												mui('#commonListWrap').pullRefresh().endPullupToRefresh();
											},1000);
										}else{
											self.query.offset-=1;
											setTimeout(function () {
												mui('#commonListWrap').pullRefresh().endPullupToRefresh(true);
											},1000);
										}
									}else{
										self.datalist=res.msg;
										mui.hideLoading();
										if(res.msg.length==0){
											mui.toast("没有找到相关数据");
										}
									}
								}else{
									mui.toast(res.msg);
									if(type==1){
										setTimeout(function () {
											mui('#commonListWrap').pullRefresh().endPulldownToRefresh();
										},1000);
									}else if(type==2){
										self.query.offset-=1;
										setTimeout(function () {
											mui('#commonListWrap').pullRefresh().endPullupToRefresh();
										},1000);
									}else{
										mui.hideLoading();
									}
								}
							})
						},
						selcity:function(){
							this.iscity=!this.iscity;
							this.isdance=false;
							this.morecond=false;
						},
						seldance:function(){
							this.isdance=!this.isdance;
							this.iscity=false;
							this.morecond=false;
						},
						selstepone:function(val,index){
							this.curone=val;
							this.citytwo=getplace[index]['children'];
						},
						selcurcity:function(val,index){
							this.curtwo=val;
							this.query.location_id=index;
							this.iscity=false;
							this.getteacherdata(0);
						},
						selhomeone:function(val,index){
							this.homeone=val;
							this.homeplacetwo=getplace[index]['children'];
						},
						selhometwo:function(val,index){
							this.hometwo=val;
							this.query.home_id=index;
							this.isdance=false;
							this.getteacherdata(0);
						},
						selmorecond:function(){
							this.morecond=!this.morecond;
							this.iscity=false;
							this.isdance=false;
						},
						selcontype:function(val,sindex){
							this.conone=val;
							this.condition=sindex;
						},
						closeall:function(){
							this.iscity=false;
							this.isdance=false;
							this.morecond=false;
						},
						selconschool:function(val,index){//选择毕业院校
							this.conscone=val;
							this.conschoolstwo=getplace[index]['children'];
						},
						selconschooltwo:function(val,value){//选择毕业院校
							this.consctwo=val;
							this.query.teacheracademy_id=value;
							this.getteacherdata(0);
						},
						selconjob:function(val,index){//更多筛选-职位类别
							this.conjob=val;
							this.query.jobcategory=+index;
							this.getteacherdata(0);
						},
						selconlplace:function(val,index){//期望工作地
							this.conlikeone=val;
							this.conlikeplacetwo=getplace[index]['children'];
						},
						selconlplacetwo:function(val,value){//期望工作地
							this.conliketwo=val;
							this.query.expectant_id=value;
							this.getteacherdata(0);
						},
						selconmajor:function(val,index){//专业
							this.conmajor=val;
							this.query.major=+index;
							this.getteacherdata(0);
						},
						selconexp:function(val,index){//教学经验
							this.conexp=val;
							this.query.experience=+index;
							this.getteacherdata(0);
						},
						resetdata:function(){
							this.query.location_id="";
							this.query.home_id="";
							this.query.teacheracademy_id="";
							this.query.jobcategory="";
							this.query.expectant_id="";
							this.query.major="";
							this.query.experience="";
							this.query.offset=1;
							this.query.keyword="";
						}
					}
				});
				setTimeout(function(){
					teacherapp.getteacherdata(0);
					events();
				},10)
			});
		</script>
	</body>

</html>